body{
    font-family: Catamaran;
}

.starwarHeading{
    font-family: 'Fredericka the Great', cursive;
}

button:hover{
    background-color: red;
}

.character-image{  
    height: 150px;
    width: 150px;
    padding: 30px;
    
}

.character{
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border: 4px solid green;  
}


#enemies-availabe .character{
    border: 8px solid red;
  }



.character-name {
    text-align: center;
  }
  
.character-health {
    text-align: center;
}

button{
    
    border-radius: 6px;
}

.gameMessage {
    font: 50px;
    color: greenyellow;
}